<!DOCTYPE html>
<html lang="pl">
<head><meta charset="UTF-8"><title>Logowanie</title></head>
<body>
  <h1>Logowanie do Chomikuj.pl</h1>
  {% with msgs = get_flashed_messages(with_categories=true) %}
    {% for cat, msg in msgs %}
      <div class="{{cat}}">{{msg}}</div>
    {% endfor %}
  {% endwith %}
  <form method="post" action="/login">
    <label>Login:<input name="username"></label>
    <label>Hasło:<input type="password" name="password"></label>
    <button>Zaloguj</button>
  </form>
</body>
</html>
